rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /documents/{allPaths=**} {
      // Upload autorisé (formulaire pro)
      allow write: if true;
      // Lecture réservée aux utilisateurs connectés
      allow read: if request.auth != null;
    }
  }
}
